@CHARSET "UTF-8";


header .navbar {
	min-height: 51px;
}

header .navbar-nav>li {
	padding-bottom: 4px;
	padding-top: 5px;
}

.navbar-inverse {
	background-color: #353535;
	border-color: #080808;
}



#query_text {
	border-radius: 20px;
	border: 1px solid #A9A9A9;
	padding: 20px;
	width: 600px;
	height: 180px;
}

#form1 {
	margin-left: 16%;
	margin-top: 40px;
	position: fixed;
	overflow: auto;
}

.styled-select {
	height: 30px;
	overflow: hidden;
	width: 240px;
}

.styled-select select {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 30px;
	padding: 5px;
	/* If you add too much padding here, the options won't show in IE */
	width: 256px;
}

.rounded {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.w3-round-jumbo {
	border-radius: 64px !important
}

.w3-panel {
	padding: 0.01em 16px;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	float: left;
	text-align: center;
	font-size: large;
	width: 200px;
	height: 40px
}

.w3-blue, .w3-hover-blue:hover {
	color: #fff !important;
	background-color: #3b8ec2 !important
}

.w3-yellow, .w3-hover-yellow:hover {
	color: #fff !important;
	background-color: #c2c22b !important
}

.fire-button {
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	height: 200px;
}

body {
	margin: 0px
}

.ver_nav_bar {
	margin-top: 0px;
	list-style-type: none;
	padding: 0;
	width: 15%;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}

.ver_li {
	width: 100%;
	text-align: left;
}

.ver_li.active {
	display: block;
	color: white;
	background-color:#6b736a;
	padding: 14px 16px;
	text-decoration: none;
}

.ver_li.inactive {
	display: block;
	color: #000;
	padding: 14px 16px;
	text-decoration: none;
}

.ver_li.inactive:hover { color:white;
background-color:#6b736a; }

div.tab {
	float: left;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 20%;
	height: 600px;
}

/* Style the buttons inside the tab */
div.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;
	height: 300px;
	border-style: solid;
	border-width: 0px;
	border-right-width: 3px;
	border-right-color: grey;
}

/* Change background color of buttons on hover */
div.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
	background-color: #ccc;
	border-right-color: #1eada5;
}

/* Style the tab content */
.tabcontent {
	float: left;
	padding: 0px 12px;
	border: 1px solid #ccc;
	width: 80%;
	border-left: none;
	height: 600px;
	background-color: white;
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	bottom: 0;
}

.slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #1eada5;
}

input:focus+.slider {
	box-shadow: 0 0 1px #1eada5;
}

input:checked+.slider:before {
	-webkit-transform: translateX(24px);
	-ms-transform: translateX(24px);
	transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* Chosen Column selector */
.chosen-container-multi .chosen-choices {
	overflow: initial;
	border: 0px;
}

.chosen-container-single .chosen-single span {
	overflow: initial;
	border: 0px;
}

#myInput {
	background-image: url('/Parakhi/res/images/search.svg');
	background-size: 20px 20px;
	/* Add a search icon to input */
	background-position: 10px 14px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 100%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 0px;
	border-right: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
}



.push-button {
	background-color: #008CBA;
	border: none;
	float: right;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-right: 10px;
	cursor: pointer;
	height: 40px;
}

.back-button {
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-left: 10px;
	cursor: pointer;
	height: 40px;
}


table.tablesorter {
	border-collapse: collapse;
	width: 100%;height:auto;
	text-align: left;
}

table.tablesorter thead tr .headerSortUp {
	background-color: #dcd9d9;
}

table.tablesorter thead tr .headerSortDown {
	background-color: #e6e3e3;
}

table.tablesorter thead tr .header {
	cursor: pointer;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	text-align: left;
	padding: 6px;
	background-color: #eceaea
}

table.tablesorter tbody tr:nth-child(even) {
	background-color: #f2f2f2
}